PharmacyApp.Client/PharmacyApp.Client.ServiceClients/Service References/ServiceReferences/NomenclatureInputsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pharmacyappserver.apphb.com/Services/NomenclatureInputsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmacyApp.Server.App.Models" />
  <xs:element name="GetAllNomenclatureInputs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNomenclatureInputsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PharmacyApp.Server.App.Models" minOccurs="0" name="GetAllNomenclatureInputsResult" nillable="true" type="q1:ArrayOfNomenclatureInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>